.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared item */

.text-primary{
    color: #FD6E0A;
}
.btn-primary{
   background-color: #FD6E0A; 
   font-weight: bold;
   color: white;
   padding: 18px 35px;
   border-radius: 5px;
   border: none;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #474747;
}
.section-descrip{
    font-size: 18px;
    color: #181818;
}
.second-bg{
    background-color: #fff8f3;
}
/*header*/

.header{
    background-image: url("../images/rain-bow.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    
}


/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
    font-size: 20px;
}

nav ul{
    display: flex;
    align-items: center;
}
.nav-title{
    font-weight: bolder;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
/*banner styles*/
.banner-gret{
    color: #474747;
    font-size: 35px;
    font-weight: 600px;
}
.banner-title{
    font-weight: bold;
    font-size: 70px;

}
.banner-discrip{
   font-size: 18px; 
   font-weight: 10px;
}
.banner-picture{
    width: 320px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 203px 0 200px;
}
.banner-content{
    max-width: 580px;
}
/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin: 130px;


    
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-descrip{
    font-weight: 600;
}


